# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/


.pytest_cache/
*.log


test-results/
playwright-report/
blob-report/
trace.zip
report/


results.xml
report.html
allure-results/
allure-report/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
