crm_state_dev.json
crm_state_qa.json
crm_state_stage.json

# env
qa.json
stage.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/


.pytest_cache/
*.log


test-results/
playwright-report/
blob-report/
trace.zip
reports/


results.xml
report.html
allure-results/
allure-report/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
